@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap");

li {
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
}

/* #main-background {
  background: linear-gradient(
    225deg,
    rgba(255, 178, 100, 1) 25%,
    rgb(218, 15, 76) 50%,
    rgb(40, 99, 226) 100%
  );
  background-size: 300% 300%;
  background-attachment: fixed;
  animation: move 12s ease infinite
} */

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
}

input {
  @apply rounded-md pl-2 mb-1 text-black;
}

#checkout-form select {
  @apply bg-white rounded-md pl-2
}

#checkout-form label {
  @apply mb-1;
}
